.Header {
    height: var(--header-height);
    background-color: white;
    width: 100%;
    padding: 0px 400px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0 0 15px black;
    position: relative;
    z-index: 10;
    .icons {
        min-width: 140px;
        .profile {
            cursor: pointer;
        }
        .compass {
            cursor: pointer;
        }
        .home {
            cursor: pointer;
        }
    }
}