.Header {
	height: var(--header-height);
	background-color: white;
	width: 100%;
	padding: 0px 400px;
	box-sizing: border-box;
	align-items: center;
	box-shadow: 0 0 15px black;
	position: relative;
	z-index: 10;
	min-width: 800px;
	.icons {
		min-width: 175px;
		.profile {
			cursor: pointer;
		}
		.compass {
			cursor: pointer;
		}
		.home {
			cursor: pointer;
		}
		.plus {
			cursor: pointer;
		}
	}
	a {
		text-decoration: none;
		.title-text {
			font-size: var(--text-l);
			text-decoration: none;
			color: black;
		}
	}
}