.F-R-SP {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.F-C-S {
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.F-C-SP {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.F-R-S {
	display: flex;
	flex-direction: row;
	justify-content: start;
}

:root {
	--header-height: 100px;
	--page-color: MintCream;
}

#wrapper {
	height: 100vh;
	box-sizing: border-box;
}